#topicmap-panel .topic {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 12px;
}

#topicmap-panel .topic .mini-icon {
    position: absolute;
}

/* Color Dialog */

#color-dialog {
    min-height: 0px !important;     /* Overrides style attribute */
}

#color-dialog .color-box {
    width: 32px;
    height: 32px;
    margin: 3px;
    float: left;
}

#color-dialog .color-box.selected {
    box-shadow: 0 0 1em blue;
}
